{% extends "madmin/admin_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard">
    <h2 style="align-content: center;">Dashboard</h2>
    <div class="home-tile-container">
        <div class="tile-home" onclick="window.location.href='{{ url_for('custom_admin.stores') }}';" style="cursor: pointer; text-align: center; text-decoration: none;">
            <h3 style="text-decoration: none;">Stores</h3>
            <p style="text-decoration: none;"><!-- You could add a store count/dashboard info here --></p>
        </div>
        <div class="tile-home" onclick="window.location.href='{{ url_for('custom_admin.promotions') }}';" style="cursor: pointer; text-align: center; text-decoration: none;">
            <h3 style="text-decoration: none;">Promotions</h3>
            <p style="text-decoration: none;"><!-- Dashboard stats for promotions --></p>
        </div>
        <div class="tile-home" onclick="window.location.href='{{ url_for('custom_admin.events') }}';" style="cursor: pointer; text-align: center; text-decoration: none;">
            <h3 style="text-decoration: none;">Events</h3>
            <p style="text-decoration: none;"><!-- Dashboard stats for events --></p>
        </div>
        </div>
    </div>
</div>
{% endblock %}
